<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iut.paci.classroomcomunnity">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.Camera"
        android:required="true"></uses-feature>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Déclaration de l'application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/serveimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/serveimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Déclaration de l'activité -->
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <!-- Déclaration comme activité principale -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Point d'entée -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.QuizActivity">
        </activity>
    </application>

</manifest>